@charset "utf-8";

*{box-sizing: border-box;}
.footer_on{padding-bottom: 120px;}

/* header */
.header {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; padding: 25px 24px 0 25px;}
.header p {color:#6e6f6e;}
.header .back_btn {padding-left: 30px;color: #333333;font-size: 18px; background-image: url(../images/ic_back.png);background-repeat: no-repeat;background-position: left top 4px;}
/* //header */

/* footer_gnb */
.footer_gnb {position: fixed; bottom: 0; width: 100%; text-align: center;}
.footer_gnb .gnb_ul {width: 100%; height: 58px; background-color: #fff; box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.1); border-radius: 28px 28px 0 0; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.footer_gnb .gnb_ul li {width: calc(50% - 58px);}
.footer_gnb .gnb_home {position:absolute; top:-34px; left:50%; transform: translateX(-50%); width: 68px; height: 68px; border-radius: 50%; background-color: #fff; box-shadow: 0 0 6px 0 rgba(0,0,0,0.16); display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-around; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
/* //footer_gnb */