[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/deploy/uwsgi-venv/bin/uwsgi -i /srv/smartfarmDjango/config/wsgi/wsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target