{% extends 'base_back.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <div class="menu_wrap bp40 footer_on">
        <h2 class="menu_tit">My Account</h2>
        <ul class="account_tab clear">
            <li>
                <a href="javascript:;">Profile</a>
            </li>
            <li>
                <a href="javascript:;">Billing info</a>
            </li>
            <li class="on">
                <a href="javascript:;">Order history</a>
            </li>
        </ul>
        <div class="history_box">
            <h4 class="txt_medium txt_black33 bm20">Ongoing</h4>
            <ul>
                {% for order in ongoing %}
                    <li class="">
                        <p class="">Order {{ order.id }}</p>
                        <p class="txt_medium">{{ order.product }}<br><span class="txt_gray66">BDT {{ order.amount | intcomma }}</span></p>
                        <p class="tx_r">{{order.get_status_display}}</p>
                    </li>
                {% endfor %}
            </ul>
            {% if fo %}
                <p class="txt_12 txt_gray99 tm20 tx_c">No Order </p>
            {% endif %}
        </div>
        <div class="history_box tm50">
            <h4 class="txt_medium txt_black33 bm20">History</h4>
            <ul>
                {% for order in history %}
                    <li class="">
                        <p class="">Order {{ order.id }}</p>
                        <p class="txt_medium">{{ order.product }}<br><span class="txt_gray66">BDT {{ order.amount | intcomma }}</span></p>
                        <p class="tx_r">{{order.get_status_display}}</p>
                    </li>
            {% endfor %}
            </ul>
            {% if fh %}
            <p class="txt_12 txt_gray99 tm20 tx_c">No history </p>
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}
