{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <!-- //header -->
    <!-- device -->
    <div class="footer_on">
        <div class="cont cart_con">
            <h1>My Cart</h1>
            <ul class="pro_ul">
                {% for product in cart %}
                <li class="">
                    <img src="{{product.product.image.url}}" width="50" alt="product image" class="pro_img">
                    <div class="txt_box">
                        <p class="txt_black33">{{ product.product.name }}</p>
                        <p class="txt_black33 tm6">BDT {{ product.amount | intcomma }}</p>
                        <ul class="choice_wrap tm9">
                            <li class="clear fl">
                                <span class="rm7">Size</span>
                                <div class="select_wrap">
                                    <p>S</p>
                                    <ul>
                                        <li class="on">S</li>
                                        <li>M</li>
                                        <li>L</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clear fr">
                                <span class="rm10">Qty</span>
                                <div class="choice_input">
                                    <input type="text" value={{ product.quantity }} min="1" id="{{ product.product.name }}">
                                    <form method = "POST" action = "/order/create/">
                                    <button type="button" onclick="up_click('{{ product.product.name }}','{{ product.id }}');"><img src={% static "images/ic_gray_up.png" %} alt="up arrow icon"></button>
                                    <button type="button" onclick="down_click('{{ product.product.name }}','{{ product.id }}')"><img src={% static "images/ic_gray_down.png" %} alt="down arrow icon"></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
                <script>
                     function up_click(name,id){
                         document.getElementById(name).value ++;
                         var form = document.createElement('form');
                         form.setAttribute('method','Post');
                         var url = 'modify/' + id;
                         form.setAttribute('action',url);
                         var hiddenField = document.createElement("input");
                         hiddenField.setAttribute("type","hidden");
                         hiddenField.setAttribute("name",'quantity');
                         hiddenField.setAttribute("value",document.getElementById(name).value);
                         form.appendChild(hiddenField);
                         document.body.appendChild(form);
                         form.submit();
                     }
                     function down_click(name,id){
                         if(document.getElementById(name).value > 1) {
                             document.getElementById(name).value--;
                             var form = document.createElement('form');
                             form.setAttribute('method', 'Post');
                             var url = 'modify/' + id;
                             form.setAttribute('action', url);
                             var hiddenField = document.createElement("input");
                             hiddenField.setAttribute("type", "hidden");
                             hiddenField.setAttribute("name", 'quantity');
                             hiddenField.setAttribute("value", document.getElementById(name).value);
                             form.appendChild(hiddenField);
                             document.body.appendChild(form);
                             form.submit();
                         }
                     }
                </script>
            </ul>
            <div class="bottom_box">
                <ul>
                    <li class="clear bm10">
                        <p class="fl txt_black33 txt_medium">Sub total</p>
                        <div class="fr">
                            <span class="txt_12">BDT</span>
                            <span class="txt_12">{{ amount | intcomma }}</span>
                        </div>
                    </li>
                    <li class="clear bm10">
                        <p class="fl txt_black33 txt_medium">VAT (15%)</p>
                        <div class="fr">
                            <span class="txt_12">BDT</span>
                            <span class="txt_12">{{ vat | intcomma }}</span>
                        </div>
                    </li>
                    <li class="clear bm20">
                        <p class="fl txt_black33 txt_medium">Delivery Charge</p>
                        <div class="fr">
                            <span class="txt_12">BDT</span>
                            <span class="txt_12">{{ delivery | intcomma }}</span>
                        </div>
                    </li>
                    <li class="clear total_li">
                        <p class="fl txt_black33 bold">Total</p>
                        <p class="fr txt_black33 bold">BDT {{ total | intcomma }}</p>
                    </li>
                </ul>
                <a href="{% url 'payment' %}" class="btn">Checkout</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}