{% extends 'base.html' %}
{% load humanize %}
{% block contents %}
<div class = "row mt-5">
    <div class = "col-12">
        <h1>주문 목록</h1>
        <table class = "table table-dark">
            <thead class = "thead thead-dark">
                <td scope = "col">상품명</td>
                <td scope = "col">수량</td>
                <td scope = "col">합계</td>
                <td scope = "col">주문 날짜</td>
                <td scope = "col">상태</td>
            </thead>
            <tbody class = "text-light">
                {% for product in object_list %}
                    <tr>
                        <td scope = "col"><a href="{% url 'product_detail' pk=product.product.id %}">{{ product.product }}</a></td>
                        <td>{{ product.quantity | intcomma }}</td>
                        <td>{{ product.amount | intcomma }}$</td>
                        <td>{{ product.ordered_date | date:'Y-m-d H:i'}}</td>
                        <td>{{product.status}}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}