{% extends 'base_noti.html' %}
{% load static %}
{% block content %}
<body>
    <!-- //header -->
    <!-- device -->
    <div class="device_wrap footer_on">
        <div class="cont tx_c">
            <h2 class="top_title">Select your Farm</h2>
            <p class="sub_txt tm10">If you have Krishian Smart farm please<br>select from the below list</p>
            <h1 class=" bold title bp10">No Farm Yet</h1>
            <p class="sub_txt">Create new farm to start !</p>
            <button type="button" class="new_btn tm42">Create new farm</button>
            <p class="sub_txt tm42">If you have Krishian Smart farm please<br>select from the below list</p>
            <a href="#" class="btn tm73 re_tm20">Choose Krishian smart farm</a>
        </div>
    </div>
</body>
{% endblock %}