{% extends 'base_noti.html' %}
{% load static %}
{% block content %}
<body>
    <!-- dash_wrap -->
    <div class="dash_wrap footer_on">
        <!-- top_box -->
        <div class="top_box">
            <form action="">
                <ul>
                    <li>
                        <p class="input_tit ">Farm Name</p>
                        <div class="input_box">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <p class="input_tit ">Crop Group</p>
                        <div class="input_box">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <p class="input_tit ">Farm Capacity</p>
                        <div class="input_box plants_box">
                            <input type="text">
                            <span>Plants</span>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <!-- //top_box -->
        <div class="cont">
            <!-- tab_ul -->
            <ul class="tab_ul clear">
                <li>
                    <a href="#" class=" txt_medium">Status</a>
                </li>
                <li>
                    <a href="#" class=" txt_medium">History</a>
                </li>
                <li class="on">
                    <a href="#" class=" txt_medium">Control</a>
                </li>
            </ul>
            <!-- //tab_ul -->
            <div class="inner_box bp3">
                <h2 class="title  bold">Fertigation</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="ferti_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="ferti_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li>
                            <p>Pump A</p>
                            <div class="custom_check_box">
                                <label for="ferti_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump B</p>
                            <div class="custom_check_box">
                                <label for="ferti_check2" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check2">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump C</p>
                            <div class="custom_check_box">
                                <label for="ferti_check3" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check3">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump D</p>
                            <div class="custom_check_box">
                                <label for="ferti_check4" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check4">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Water Level</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="warter_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="warter_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li class="tp6">
                            <p>Water Pump</p>
                            <div class="custom_check_box">
                                <label for="warter_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="warter_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Disolved Oxygen</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="oxygen_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="oxygen_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li class="tp6">
                            <p>Air Pump</p>
                            <div class="custom_check_box">
                                <label for="oxygen_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="oxygen_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Air</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="air_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="air_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li>
                            <p>Cooler</p>
                            <div class="custom_check_box">
                                <label for="air_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Exhaust Fan</p>
                            <div class="custom_check_box">
                                <label for="air_check2" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check2">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Humidifier</p>
                            <div class="custom_check_box">
                                <label for="air_check3" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check3">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Co2 Generator</p>
                            <div class="custom_check_box">
                                <label for="air_check4" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check4">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}