{% extends 'base_noti.html' %}
{% load static %}
{% block content %}
<body>
    <!-- dash_wrap -->
    <div class="dash_wrap footer_on">
        <!-- top_box -->
        <div class="top_box">
            <form action="">
                {% csrf_token %}
                <ul>
                    <li>
                        <p class="input_tit ">Farm Name</p>
                        <div class="input_box">
                            <input type="text", value={{farm_info.farm_name}} readonly>
                        </div>
                    </li>
                    <li>
                        <p class="input_tit ">Crop Group</p>
                        <div class="input_box">
                            <input type="text" value={{crop_name}} readonly>
                        </div>
                    </li>
                    <li>
                        <p class="input_tit ">Farm Capacity</p>
                        <div class="input_box plants_box">
                            <input type="text" value={{farm_info.farm_capacity}} readonly>
                            <span>Plants</span>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <!-- //top_box -->
        <div class="cont">
            <!-- tab_ul -->
            <ul class="tab_ul clear">
                <li>
                    <a href="#" class=" txt_medium">Status</a>
                </li>
                <li>
                    <a href="#" class=" txt_medium">History</a>
                </li>
                <li class="on">
                    <a href="#" class=" txt_medium">Control</a>
                </li>
            </ul>
            <!-- //tab_ul -->
            <div class="inner_box bp3">
                <h2 class="title  bold">Fertigation</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="ferti_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="ferti_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li>
                            <p>Pump A</p>
                            <div class="custom_check_box">
                                <label for="ferti_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump B</p>
                            <div class="custom_check_box">
                                <label for="ferti_check2" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check2">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump C</p>
                            <div class="custom_check_box">
                                <label for="ferti_check3" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check3">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Pump D</p>
                            <div class="custom_check_box">
                                <label for="ferti_check4" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="ferti_check4">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Water Level</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="warter_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="warter_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li class="tp6">
                            <p>Water Pump</p>
                            <div class="custom_check_box">
                                <label for="warter_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="warter_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Disolved Oxygen</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="oxygen_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="oxygen_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li class="tp6">
                            <p>Air Pump</p>
                            <div class="custom_check_box">
                                <label for="oxygen_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="oxygen_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner_box bp3">
                <h2 class="title  bold">Air</h2>
                <div class="clear">
                    <div class="fl w_85 tm10">
                        <h2 class=" txt_medium">Default Setting</h2>
                        <p class="txt_gray_aa line_h_2 tm2">Recommended settings for your plants mode.<br>Turn off to customise.</p>
                    </div>
                    <div class="fr toggle_box tx_c">
                        <label for="air_toggle" class="toggle_btn">
                            <input type="checkbox" class="appearance dn" id="air_toggle">
                            <span class="slider round"></span>
                        </label>
                        <p class="txt_gray88 " style="display: none;">ON</p>
                        <p class="txt_gray88 ">OFF</p>
                    </div>
                </div>
                <div class="tm25">
                    <h4 class=" txt_black33 txt_medium">Control Manually</h4>
                    <ul class="control_ul">
                        <li>
                            <p>Cooler</p>
                            <div class="custom_check_box">
                                <label for="air_check1" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check1">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Exhaust Fan</p>
                            <div class="custom_check_box">
                                <label for="air_check2" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check2">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Humidifier</p>
                            <div class="custom_check_box">
                                <label for="air_check3" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check3">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p>Co2 Generator</p>
                            <div class="custom_check_box">
                                <label for="air_check4" class="custom_check">
                                    <input type="checkbox" class="appearance dn" id="air_check4">
                                    <span class="check_bg"></span>
                                    <span class=" txt_medium" style="display: none;">on</span>
                                    <span class=" txt_medium">off</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        window.onload = function(){
            let device_ip_addr = "{{ device_ip | escapejs}}";
            let csrf_token = "{{ csrf_token | escapejs}}";
            console.log(device_ip_addr);
            let manual_buttons = [];
            let automode_buttons = [];

            let auto_nutrient_pump = document.getElementById('ferti_toggle');
            let pumpA_manual = document.getElementById('ferti_check1');
            let pumpB_manual = document.getElementById('ferti_check2');
            let pumpC_manual = document.getElementById('ferti_check3');
            let pumpD_manual = document.getElementById('ferti_check4');

            let water_pump_auto = document.getElementById('warter_toggle');
            let water_pump_manual = document.getElementById('warter_check1');

            let oxy_pump_auto = document.getElementById('oxygen_toggle')
            let air_pump_manual = document.getElementById('oxygen_check1');

            let air_condition_auto = document.getElementById('air_toggle');
            let cooler_manual = document.getElementById("air_check1");
            let fan_manual = document.getElementById("air_check2");
            let humidifier_manual = document.getElementById('air_check3');
            let co2_manual = document.getElementById('air_check4');


            automode_buttons.push(auto_nutrient_pump);
            automode_buttons.push(water_pump_auto);
            automode_buttons.push(oxy_pump_auto);
            automode_buttons.push(air_condition_auto);
            manual_buttons.push(pumpA_manual);
            manual_buttons.push(pumpB_manual);
            manual_buttons.push(pumpC_manual);
            manual_buttons.push(pumpD_manual);
            manual_buttons.push(water_pump_manual);
            manual_buttons.push(air_pump_manual);
            manual_buttons.push(cooler_manual);
            manual_buttons.push(fan_manual);
            manual_buttons.push(humidifier_manual);
            manual_buttons.push(co2_manual);

            let interface_obj = new Object();
            interface_obj.heater = -1;
            interface_obj.nut_pump_auto = -1;
            interface_obj.pumpA = -1;
            interface_obj.pumpB = -1;
            interface_obj.pumpC= -1;
            interface_obj.pumpD = -1;
            interface_obj.water_pump_auto = -1;
            interface_obj.pump_water = -1;
            interface_obj.oxy_pump_auto = -1;
            interface_obj.air_pump = -1;
            interface_obj.auto_air_contiditon_pump = -1;
            interface_obj.cooler = -1;
            interface_obj.fan = -1;
            interface_obj.humidifier = -1;
            interface_obj.co2_gen = -1;
            interface_obj.light = -1;
            interface_obj.device_info = {{ device_serial | escapejs}}

            let fetch_obj = {
                method : "POST",
                headers : {
                    'Content-Type':'application/json',
                    "X-CSRFToken" : csrf_token
                },
                'mode':'cors',
                
            };
            console.log(interface_obj.device_info)
            //i don't know why, but when use for-in loop, it cannot bring html DOM element.....
            for (let i=0; i< manual_buttons.length; i++){
                //console.log(i);
                manual_buttons[i].addEventListener('click',async function(){
                    let test_url = "http://127.0.0.1:8000/device_management/send_action";
                    let url = device_ip_addr;
                    if (manual_buttons[i].id == 'ferti_check1'){
                        interface_obj.pumpA *= -1;
                    }
                    if (manual_buttons[i].id == 'ferti_check2'){
                        interface_obj.pumpB *= -1;
                    }
                    if (manual_buttons[i].id == 'ferti_check3'){
                        interface_obj.pumpC *= -1;
                    }
                    if (manual_buttons[i].id == 'ferti_check4'){
                        interface_obj.pumpD *= -1;
                    }
                    if (manual_buttons[i].id == 'warter_check1'){
                        interface_obj.pump_water *= -1;
                    }
                    if (manual_buttons[i].id == 'oxygen_check1'){
                        interface_obj.air_pump *= -1;
                    }
                    if (manual_buttons[i].id == 'air_check1'){
                        interface_obj.cooler *= -1;
                    }
                    if (manual_buttons[i].id == 'air_check2'){
                        interface_obj.fan *= -1;
                    }
                    if (manual_buttons[i].id == 'air_check3'){
                        interface_obj.humidifier *= -1;
                    }
                    if (manual_buttons[i].id == 'air_check4'){
                        interface_obj.co2_gen *= -1;
                    }
                    let manual_action_json = JSON.stringify(interface_obj);
                    fetch_obj['body'] = manual_action_json;

                    console.log(manual_action_json);
                    let req = new Request(test_url, fetch_obj);
                    //async, await사용 버전.
                    let response = await fetch(req);
                    let comments = await response.json(); // 응답 본문을 읽고 JSON 형태로 파싱함
                    console.debug(comments);
                    alert(JSON.stringify(comments));


                    /*
                    Promise 사용 버전.

                    fetch(req).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            
                            return response.json();
                        }
                    }).then(response => {
                        console.debug(response);
                        
                        // ...
                    }).catch(error => {
                        console.error(error);
                    });
                    
                    */
                });
            }

            for (let i=0; i<automode_buttons.length; i++){
                
            }
        }
    </script>
    <!-- //dash_wrap -->
    <!-- footer_gnb
    <footer class="footer_gnb">
        <ul class="gnb_ul">
            <li>
                <a href="#"><img src={% static "images/ic_store.png" %} alt="store icon"></a>
            </li>
            <li>
                <a href="#"><img src={% static "images/ic_community.png" %} alt="community icon"></a>
            </li>
        </ul>
        <a href="javascript:;" class="gnb_home"><img src={% static "images/ic_monitor.png" %} alt="monitor icon"></a>
    </footer>
     //footer_gnb -->

</body>
{% endblock %}