{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action="">
            <div class="cont tx_c tm88">
                <img src={% static "images/img_plants.png" %} alt="plants image">
                <h1 class=" bold title bp0">Total number of plants</h1>
                <div class="choice_box choice_box2">
                    <p>50</p>
                    <div class="btn_box">
                        <button type="button"><img src={% static "images/ic_up.png" %} alt="up arrow icon"></button>
                        <button type="button" class="tm6"><img src={% static "images/ic_down.png" %} alt="down arrow icon"></button>
                    </div>
                </div>
                <a href="#" class="next_btn tm86 re_tm10">Next</a>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}