{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action="">
            <div class="cont tx_c">
                <h2 class="top_title re_tp10">Krishian smart farm details</h2>
                <ul class="form_ul tm50 tx_l">
                    <li>
                        <p class="input_tit">Farm model No</p>
                        <div class="input_box">
                            <input type="text" placeholder="">
                        </div>
                    </li>
                    <li>
                        <p class="input_tit">Farm capacity</p>
                        <div class="input_box plants_box">
                            <input type="text" placeholder="">
                            <span class="txt_gray66 txt_14">Plants</span>
                        </div>
                    </li>
                    <li>
                        <p class="input_tit">Farm type</p>
                        <div class="input_box">
                            <input type="text" placeholder="">
                        </div>
                    </li>
                </ul>
                <a href="#" class="next_btn tm100 re_tm10">Next</a>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}