{% extends 'base_w.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <div class="cont tx_c tm88">
            <img src={% static "images/img_main.png" alt="main image" %}>
            <h1 class=" bold title">No Device Yet</h1>
            <p class="sub_txt">Add device to start smart farming<br>at your home without any mess.</p>
        </div>
        
        <button type="button" class="arrow_btn">
            <a href = {% url 'device_management:device3' %}>
            <span class="">Connect smart device</span></a>
            <img src={% static "images/ic_arrow.png" alt="arrow icon" %}>
    
        </button>
    </div>
    <!-- //device -->
</body>
{% endblock %}