{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action="">
            <div class="cont tx_c tm88">
                <img src={% static "images/img_date.png" %} alt="date image">
                <h1 class=" bold title bp20">Select Planting date</h1>
                <!-- <input type="date" class="date_input" value=""> -->
                <div class="date_input_box clear">
                    <input type="text" class="date_input fl" id="datepicker" value="12 / 01 / 2012">
                </div>
                <a href="#" class="btn tm130 re_tm20">Connect</a>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}