{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action="">
            <div class="cont tx_c tm88">
                <img src={% static "images/img_farm.png" %} alt="farm image">
                <h1 class=" bold title bp20">Choose a name for your farm</h1>
                <div class="input_type1">
                    <input type="text" placeholder="Lettuce Garden" class="tx_l">
                </div>
                <a href="#" class="next_btn tm76 re_tm10">Next</a>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}