{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- //header -->
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action="">
            <div class="cont tx_c">
                <h2 class="top_title re_tp10">Select plant life stage</h2>
                <div class="stage_box">
                    <div class="bar">
                        <p style="width: 55%;"></p>
                    </div>
                    <ul class="">
                        <li>Seed<br>Planting</li>
                        <li>Germination</li>
                        <li class="on">Seedling</li>
                        <li>Growth</li>
                        <li>Hervest</li>
                    </ul>
                    <div class="choice_box">
                        <p class="txt_16 txt_medium txt_black33">Seedling</p>
                        <div class="btn_box">
                            <button type="button"><img src={% static "images/ic_up.png" %} alt="up arrow icon"></button>
                            <button type="button" class="tm9"><img src={% static "images/ic_down.png" %} alt="down arrow icon"></button>
                        </div>
                    </div>
                </div>
                <a href="#" class="next_btn tm100 re_tm10">Next</a>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}