{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <form action={% url 'device_management:crop_info_registeration' %} method="post">
            <div class="cont tx_c">
                <div class = "hide_form" id="hide_1" style="display: block;">
                    <h2 class="top_title re_tp10 bm20">Select your crop group</h2>
                    <p class="sub_txt">You can choose single crop<br>group for one farm at a time.</p>
                    <ul class="group_ul tm70">
                        <li>
                            <input type="radio" id="green_ch" class="appearance dn" name="crop_group">
                            <label for="green_ch"></label>
                            <span>Leafy Green</span>
                        </li>
                        <li>
                            <input type="radio" id="herbs_ch" class="appearance dn" name="crop_group">
                            <label for="herbs_ch"></label>
                            <span>Herbs</span>
                        </li>
                        <li>
                            <input type="radio" id="fruits_ch" class="appearance dn" name="crop_group">
                            <label for="fruits_ch"></label>
                            <span>Fruits</span>
                        </li>
                    </ul>
                    <input type="hidden" name="farm_info" value={{ farm_info.id }}>
                </div>
                <div class="hide_form" id="hide2" style="display: none;">
                    <h2 class="top_title re_tp10">Select your crop</h2>
                    <div class="scroll_box tm50 crop_box">
                        <ul class="clear">
                            <li class="custom_radio2">
                                <button type="button" class="crop_btn">Create<br>new crop</button>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop1" class="appearance dn" name="crop_name">
                                <label for="crop1">
                                    <span class=" txt_gray88">Lettuce</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop2" class="appearance dn" name="crop_name">
                                <label for="crop2">
                                    <span class=" txt_gray88">Spinach</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop3" class="appearance dn" name="crop_name">
                                <label for="crop3">
                                    <span class=" txt_gray88">Arugula</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop4" class="appearance dn" name="crop_name">
                                <label for="crop4">
                                    <span class=" txt_gray88">Collards</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop5" class="appearance dn" name="crop_name">
                                <label for="crop5">
                                    <span class=" txt_gray88">Kale</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop6" class="appearance dn" name="crop_name">
                                <label for="crop6">
                                    <span class=" txt_gray88">Arugula</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop7" class="appearance dn" name="crop_name">
                                <label for="crop7">
                                    <span class=" txt_gray88">Collards</span>
                                </label>
                            </li>
                            <li class="custom_radio2">
                                <input type="radio" id="crop8" class="appearance dn" name="crop_name">
                                <label for="crop8">
                                    <span class=" txt_gray88">Kale</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hide_form" id="hide3" style="display: none;">
                    <h2 class="top_title re_tp10">Select plant life stage</h2>
                    <div class="stage_box">
                        <div class="bar">
                            <p style="width: 55%;" id="stage_colorline"></p>
                        </div>
                        <ul class="" id="stage_bar">
                            <li>Seed<br>Planting</li>
                            <li>Germination</li>
                            <li class="on">Seedling</li>
                            <li>Growth</li>
                            <li>Hervest</li>
                        </ul>
                        <div class="choice_box">
                            <p class="txt_16 txt_medium txt_black33" id="current_stage">Seedling</p>
                            <div class="btn_box">
                                <button type="button" id="stage_up" onclick = select_life_stage(this.id)><img src={% static "images/ic_up.png" %} alt="up arrow icon"></button>
                                <button type="button" id="stage_down" onclick = select_life_stage(this.id) class="tm9"><img src={% static "images/ic_down.png" %} alt="down arrow icon"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "hide_form", id="hide4", style="display: none;">
                    <img src={% static "images/img_date.png" %} alt="date image">
                    <h1 class=" bold title bp20">Select Planting date</h1>
                    <!-- <input type="date" class="date_input" value=""> -->
                    <div class="date_input_box clear">
                        <input type="text" class="date_input fl" id="datepicker" value="2021-01-01" name="planting_date">
                    </div>
                </div>
                <a href="#" class="next_btn tm170 re_tm20" id="toggle">{{ farm_info.id }}</a>
                <button id = "tmp_store" style="display: none;" class="next_btn tm100 re_tm10"> Next</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function select_life_stage(id){
            let life_stage_list = ['Seed Planting', 'Germination', 'Seedling', 'Growth', 'Hervest'];
            let line_width_list = ['5%', '30%', '55%', '80%', '100%'];
            let current_stage = document.querySelector("#current_stage");
            let stage_colorline = document.querySelector("#stage_colorline");
            let text_cursor = document.querySelector("#stage_bar").children;

            for (let i=0; i<life_stage_list.length; i++){
                if (life_stage_list[i] == current_stage.innerText){
                    if (id == "stage_up"){
                        current_stage.innerText = life_stage_list[(i+1)%life_stage_list.length];
                        stage_colorline.style.width = line_width_list[(i+1)%life_stage_list.length];
                        text_cursor[i].classList.remove("on");
                        text_cursor[(i+1)%life_stage_list.length].classList.add("on");
                        break;
                    }
                    else if (id == "stage_down"){
                        current_stage.innerText = life_stage_list[(i-1)%life_stage_list.length];
                        stage_colorline.style.width = line_width_list[(i-1)%life_stage_list.length];
                        text_cursor[i].classList.remove("on");
                        text_cursor[(i-1)%life_stage_list.length].classList.add("on");
                        break;
                    }
                }
            }

        }

        window.onload = function(){
            let next_page_button = document.createElement("button");
            let uitoggle = document.getElementById("toggle");
            let parent_div = document.getElementsByClassName("cont tx_c")[0];
            let hide_divs = parent_div.children;
            console.log(hide_divs[0].id, hide_divs[1].id);


            next_page_button.className = "next_btn tm170 re_tm20";
            next_page_button.innerText = "next";


            uitoggle.addEventListener('click', function(){
                if (hide_divs[0].style.display == "block"){
                    if (document.getElementById("green_ch").checked == false && document.getElementById("herbs_ch").checked == false && 
                    document.getElementById("fruits_ch").checked == false){
                        alert("Select crop group");
                    }
                    else{
                        hide_divs[0].style.display = "none";
                        hide_divs[1].style.display = "block";

                    }
                }

                else if (hide_divs[1].style.display == "block"){
                    if (document.getElementById("crop1").checked == true || document.getElementById("crop2").checked == true 
                    || document.getElementById("crop3").checked == true || document.getElementById("crop4").checked == true
                    || document.getElementById("crop5").checked == true || document.getElementById("crop6").checked == true 
                    || document.getElementById("crop7").checked == true || document.getElementById("crop8").checked == true){
                        hide_divs[1].style.display = "none";
                        hide_divs[2].style.display = "block";

                    }
                    else{
                        alert("Select crop name");
                    }
                }

                else if (hide_divs[2].style.display == "block"){
                    let hiddeninput_lifestage = document.createElement("input");
                    hiddeninput_lifestage.type = "hidden";
                    hiddeninput_lifestage.value = document.querySelector("#current_stage").innerText;
                    hiddeninput_lifestage.name = "life_stage";
                    parent_div.appendChild(hiddeninput_lifestage);

                    hide_divs[2].style.display = "none";
                    hide_divs[3].style.display = "block";

                    uitoggle.remove();
                    parent_div.appendChild(next_page_button);
                }

                else if (hide_divs[3].style.display == "block"){
                    console.log({farm_info});
                }

            });

            
        }
    </script>
    <!-- //device -->
</body>
{% endblock %}