{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <div class="device_wrap footer_on tp140 re_tp10">
        <form action={% url 'device_management:device' %}>
            {% csrf_token %}
            <div class="cont tx_c">
                <h2 class="top_title tp0">Device details</h2>
                <p class="sub_txt tm25"><span class="sub_txt txt_medium">Model No : </span>SMG01</p>
                <p class="sub_txt tp6"><span class="sub_txt txt_medium">Device details : </span>Smart Grow</p>
                <ul class="tm50">
                    <li class="input_type1">
                        <input type="text" name="ip_address">
                    </li>
                    <li class="input_type1 tm10">
                        <input type="password" name="password">
                    </li>
                    <li class="input_type1 tm10">
                        <input type="text" name="device_serial">
                    </li>
                    <input type="hidden" name="device_name" value="fortest">
                    <input type="hidden" name="modelno" value="SMG001">
                    <input type="hidden" name="detail" value="SmartGrow">
                </ul>
                <button class="btn txt_14 tm50">Connect</button>
            </div>
        </form>
    </div>
    <!-- //device -->
</body>
{% endblock %}