{% extends 'base_back.html' %}
{% load static %}
{% block content %}
<body>
    <!-- device -->
    <div class="device_wrap footer_on">
        <div class="cont tx_c">
            <h2 class="top_title">Select your Farm</h2>
            <button type="button" class="new_btn tm50">Create new farm</button>
            <h1 class=" bold title bp10">No Farm Yet</h1>
            <p class="sub_txt">Create new farm to start !</p>
            <p class="sub_txt tm20">If you have Krishian Smart grow kit <br>
                Select it from below option</p>
        </div>
        <button type="button" class="arrow_btn tm34">
            <span class="">Choose Krishian smart grow kit</span>
            <img src={% static "images/ic_arrow.png" alt="arrow icon" %}>
        </button>
    </div>
</body>
{% endblock %}