{% extends 'base_back.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    window.onload = function(){
        let reg_button = document.getElementById("device_register");
        reg_button.addEventListener('click', function(){
            let ip_addr = document.getElementsByName("ip_address")[0].value;
            let ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
            console.log(ipformat.test(ip_addr))
            if (!ipformat.test(ip_addr)){
                alert("Wrong Format for IP Address!!");
            }
            else{
                document.getElementsByTagName("form")[0].submit();
            }
        });
    }
</script>

<body>
    <div class="device_wrap footer_on tp140 re_tp10">
        <form action={% url 'device_management:device' %}>
            {% csrf_token %}
            <div class="cont tx_c">
                <h2 class="top_title tp0">Device details</h2>
                <p class="sub_txt tm25"><span class="sub_txt txt_medium">Model No : </span>SMG01</p>
                <p class="sub_txt tp6"><span class="sub_txt txt_medium">Device details : </span>Smart Grow</p>
                <ul class="tm50">
                    <li class="input_type1">
                        <input type="text" name="ip_address" placeholder="IP ADDRESS : XXX.XXX.XXX.XXX">
                    </li>
                    <li class="input_type1 tm10">
                        <input type="password" name="password" placeholder="PASSWORD">
                    </li>
                    <li class="input_type1 tm10">
                        <input type="text" name="device_serial" placeholder="SERIAL NUMBER : only Integer">
                    </li>
                    <input type="hidden" name="device_name" value="fortest">
                    <input type="hidden" name="modelno" value="SMG001">
                    <input type="hidden" name="detail" value="SmartGrow">
                </ul>
                
            </div>
        </form>
        <button class="btn txt_14 tm50" id="device_register">Connect</button>
    </div>
    <!-- //device -->
</body>
{% endblock %}

