/*input*/ 

::-webkit-input-placeholder { /* WebKit browsers */ color: #ccc; text-align:left;} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #ccc; opacity: 1; text-align:left;} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #ccc; opacity: 1; text-align:left; } 
:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #ccc; text-align:left;} 
.appearance{-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;}

.form input[type="checkbox"]{border:1px solid #ddd; height:14px; width:14px; vertical-align:middle; background:#fff; margin:0 4px 2px 0;}
.form input[type="checkbox"]:checked{background:url(../images/ck_on.png) no-repeat center center /9px;}
.form input[type="radio"]{border:1px solid #ddd; height:16px; width:16px; border-radius:10px; vertical-align:middle; background:#fff; margin:0 4px 2px 0;}
.form input[type="radio"]:checked{background:url(../images/ico_radio.png) no-repeat center center #fff;}

select::-ms-expand {
    display: none;
}
select
{background:url(../images/sel_arr_b.png) no-repeat 90% center #fff; 
	border:1px solid #ddd; color:#555; font-size:14px;color:#888; line-height:25px; border:0; width:100%; box-sizing:border-box;padding:5px 0 5px 10px; height:38px;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
   -moz-appearance: none;    /* 화살표 없애기 for firefox*/
   appearance: none;         /* 화살표 없애기 공통*/}
input.checkbox, input[type="radio"]{margin:-2px 2px 2px 0; vertical-align:middle}

.inTxt{border:1px solid #ddd; color:#555; height:38px; line-height:36px; text-indent:10px; background:#fff; box-sizing:border-box; vertical-align:top;
	   transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;}
.inTxt:focus{border:1px solid #31cfcd;}

.no_bo_input{border:0; color:#333; height:38px; line-height:36px; text-indent:10px; background:#fff; box-sizing:border-box; vertical-align:top;
	   transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;}
.no_bo_input:focus{box-shadow:2px 2px 6px rgba(51, 51, 51, 0.1) inset;}
.no_bo_input::-webkit-input-placeholder {color:#333; font-size:16px; text-align:center} 
.no_bo_input:-moz-placeholder {color:#333; font-size:16px; text-align:center} 
.no_bo_input::-moz-placeholder {color:#333; font-size:16px; text-align:center} 
.no_bo_input:-ms-input-placeholder {color:#333; font-size:16px; text-align:center} 

.infile{border:1px solid #ddd; color:#555; height:38px; line-height:36px; background:#fff; box-sizing:border-box; vertical-align:top;
	   transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;}
.infile:focus{border:1px solid #a7d725;}

.textarea{border:1px solid #ddd;  padding:10px; text-align:left; line-height:18px;color:#666;  text-align:left; box-sizing:border-box; 
		   transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;}
.textarea:focus{border:1px solid #e1c270;}

.select{border:1px solid #ddd; color:#555; height:41px; line-height:39px; box-sizing:border-box; background:#fff; vertical-align:top;
		transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s; display:inline-block}
.select:focus{border:1px solid #a7d725;}
button {
    margin: 0;
    padding: 0;
	border:0
}

.form_ul li{margin-bottom: 32px;}
.form_ul li:last-child{margin-bottom: 0px;}
.form_ul li .input_tit{font-size: 14px;color: #333;font-family:'Roboto';font-weight:500; padding-bottom:13px;}
.form_ul li .input_box{border-bottom: 1px solid #ddd;}
.form_ul li .input_box input{font-size:14px;color:#888; line-height:23px; border:0; width:100%; box-sizing:border-box;padding:5px 10px; height:27px}

.input_type1 input{border:1px solid #dddddd;width:100%;height: 50px;border-radius: 5px; color: #666666; font-size: 14px; text-align: center;}

.code_input{border-bottom: 1px solid #ddd;}
.code_input input{padding:20px 10px; font-family:'Roboto'; font-size: 20px; color: #888;border:0; width:100%; box-sizing:border-box; text-align: center;}
.code_input input::-webkit-input-placeholder { /* WebKit browsers */ color: #ddd; text-align:center;} 
.code_input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #ddd; text-align:center;} 
.code_input input::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #ddd; text-align:center; } 

.custom_check .check_box{display: block;width: 15px;height: 15px;position: relative;}
.custom_check .check{box-sizing: border-box;display: block;width: 15px;height: 15px;border:1px solid #aaaaaa; border-radius: 2px; background-color: #fff; position: absolute;}
.custom_check .check::after{display: none;content: '';position: absolute;top:0 ; left: 0;width: 100%;height: 100%;background-image: url(../images/ic_check.png); background-repeat: no-repeat; background-position: center;}
.custom_check .check_box input:checked + .check::after{display: block;}
.custom_check .check_box + label{font-size: 14px; font-family: 'Roboto';color: #333333;margin-left: 12px;margin-top: -2px;}

.custom_radio {position: relative; width: 100%; height: 50px; display: block;}
.custom_radio .radio_box{position: absolute; background-color: #fff; width: 100%; height: 100%; top: 0;left: 0;text-align: left; padding-left:30px;line-height:47px;font-size: 14px;color: #888888; box-sizing: border-box; border:1px solid #dddddd; border-radius: 50px;}
.custom_radio .radio_box::after{display: none; content: '';position: absolute; width: 100%; height: 100%;top: 0;left: 0; background-image: url(../images/ic_check2.png); background-repeat: no-repeat;background-position: right 30px center;}
.custom_radio input:checked + .radio_box {border: 1.5px solid #7eb34f;color: #7eb34f;}
.custom_radio input:checked + .radio_box::after{display: block;}



