{% extends 'base_shop.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>

    <div class="menu_wrap">
        <h2 class="menu_tit">Catagory</h2>
        <h3>{{message}}</h3>
        <div class="tab_wrap2">
            <ul class="tab_wrap clear">
                {% for cat in all %}
                {% if cat == category %}
                <li class="on">
                    <a href="{% url 'category' pk=cat.id %}">{{cat.sort}}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'category' pk=cat.id %}">{{cat.sort}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="cata_wrap footer_on">
            <ul class="clear tm13">
                {% for prod in product %}
                {% if prod.category == category %}
                <li class="tx_c">
                    <a href="javascript:;" class="img_box"><img src="{{prod.image.url}}" alt="product image"></a>
                    <p class="txt_16 txt_black33 ellipsis">{{ prod.name }}</p>
                    <button type="button" onclick="toDetail('{{prod.pk}}');">Buy</button>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        function toDetail(to){
            detail = '/product/'
            detail += to.toString()
            detail += '/'
            location.href = detail;
        }
    </script>
</body>
{% endblock %}