{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class = "menu_wrap">
    <div class = "menu_tit">
        <h1>상품 등록</h1>
    </div>
</div>

<div class = "sign_wrap">
    <div class = "cont cart_con">
        <form method = "POST" action = "." enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class = "form_ul tm80">
                <label class = "input_tit" for = "{{field.id_for_label}}">{{field.label}}</label>
                {% if field.name == 'description' %}
                <textarea class = "input_box" name = "{{field.name}}" id = "{{field.id_for_label}}"></textarea>
                {% elif field.name == 'image' %}
                <input class = "input_box" type="file" name="{{field.name}}" id = "{{field.id_for_label}}" placeholder="{{field.label}}">
                {% elif field.name == 'category' %}
                <select class = "select_wrap" name = "{{field.name}}" id = "{{field.id_for_label}}">
                    {% for sort in field.field.queryset %}
                    <option value="{{sort.id}}">{{sort.sort}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input type = "{{field.field.widget.input_type }}" class = "form-control" name = "{{field.name}}"
                id = "{{field.id_for_label}}" placeholder="{{field.label}}" name = "{{field.name}}">
                {% endif %}
            </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}

            <button type = "button" class = "btn btn-primary">상품등록</button>
        </form>
    </div>
</div>
{% endblock %}