{% extends 'base_shop.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <div class="menu_wrap pro_wrap bp130">
        <div class="thumb_box">
            <h1>{{product.name}}</h1>
            <div class="img_box"><img src="{{product.image.url}}" alt="product image"></div>
        </div>
        <h2 class="price_txt">BDT {{ product.price | intcomma }}</h2>
        <div>
            <h3 class="title">Description</h3>
            <p class="pre txt_box">{{ product.description|safe }}</p>
        </div>
        <form method = "POST" action = "/order/addcart/" >
        <div>
            <h3 class="title">Add more feature</h3>
            <ul class="add_ul">
                {% for opt in option %}
                    <li>
                        <p class="left_txt">{{opt.option}}</p>
                        <div class="clear right_txt">
                            <p class="fl txt_12">BDT</p>
                            <p class="tx_r fl txt_12">{{opt.price}}</p>
                            <div class="custom_check custom_check2 custom_check3 clear fl lm20">
                                <label for="check{{opt.id}}" class="check_box fl">
                                    <input type="checkbox" id="check{{opt.id}}" name="selected" class="dn appearance" value="{{opt.id}}">
                                    <span class="check fl"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
            {% csrf_token %}
            {% for field in cartform %}
                 <div class = "form-group">
                     {% ifnotequal field.name 'product' %}
                     <input type = "{{field.field.widget.input_type}}" class = "form-control" id = "{{field.id_for_label}}" placeholder="{{field.label}}" name = "{{field.name}}"
                            value = "1">
                     {% endifnotequal %}
                     {% ifequal field.name 'product' %}
                     <input type = "{{field.field.widget.input_type}}" class = "form-control" id = "{{field.id_for_label}}" placeholder="{{field.label}}" name = "{{field.name}}"
                            value = "{% ifequal field.name 'product' %} {{product.id}} {% endifequal %} ">
                     {% endifequal %}
                 </div>
            {% if field.errors %}
            <span style = "color:red">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
            <button type = "submit" class = "btn tm30">Add to Cart</button>
        </form>
    </div>
</body>
</html>
{% endblock %}