{% extends 'base.html' %}
{% load humanize %}
{% block contents %}
<div class = "row mt-5">
    <div class = "col-12">
        <h1>상품 목록</h1>
        <h2><a href="{% url 'orderlist' %}">주문 목록</a></h2>
        <table class = "table table-dark">
            <thead class = "thead thead-dark">
                <td scope = "col">카테고리</td>
                <td scope = "col">상품명</td>
                <td scope = "col">가격</td>
                <td scope = "col">등록 날짜</td>
                <td scope = "col">이미지</td>
            </thead>
            <tbody class = "text-light">
                {% for product in object_list %}
                <tr>
                    <td scope = "col">{{product.category}}</td>
                    <td><a href="{% url 'product_detail' pk=product.id %}">{{ product.name }}</a></td>
                    <td>{{ product.price | intcomma }}$</td>
                    <td>{{ product.registered_date | date:'Y-m-d H:i'}}</td>
                    <td><img src="{{product.image.url}}" width="50"><br></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}