<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Share</title>
</head>
<body>
    <a href="https://twitter.com/intent/tweet?button_hashtag=krishian_1_0_0&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large"
   data-text="{{ data_text }}" data-lang="en" data-show-count="false">Tweet #krishian_1_0_0</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <br>
    <a href="/twitter/post/">Let's Get Post!!</a>


</body>
</html>