<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Post</title>
</head>
<body>
    <a href="/twitter/share/">Let's go Share Button!!</a>
    <div>
        {% for tweet in tweet_info %}
            user name : {{ tweet.user_name }}
            <br>
            content : {{ tweet.text }}
            <br>
            <a href="/twitter/get/{{ tweet.id }}/">{{ tweet_id }} get this param!!!</a>
            <br>
            {% if tweet.image %}
                {% for image in tweet.image %}
                    <img src="{{ image }}" />
                {% endfor %}
            {% endif %}
            <br>
            <br>
        {% endfor %}
    </div>
</body>
</html>