{% extends 'base_back_noti.html' %}
{% load static %}
{% block content %}
<body>
    <!-- //header -->
    <div class="menu_wrap footer_on tx_c">
        <button type="button" onclick="location.href = '/auth/twitter/redirect/'" class="twit_btn tm50">
            <img src="{% static "images/ic_twitter_w.png" %}" alt="twitter icon">
            Log in with twitter
        </button>
        <p class="tm50 txt_black33"><span class="txt_medium">Krishian</span> will receive:<br>Your photos, videos and timeline post.</p>
        <div class="edit_box">
            <a href="https://twitter.com/intent/tweet?button_hashtag=krishian_1_0_0&ref_src=twsrc%5Etfw" >
                Edit This
            </a>
        </div>
        <button type="button" onclick="location.href = '/twitter/post/'" class="conti_btn">Continue as <span class="txt_medium">{{ user.email }}</span></button>
    </div>
    <!-- footer_gnb -->
</body>
{% endblock %}