{% extends 'base_back_noti.html' %}
{% load static %}
{% block content %}
<body>
    <header class="header" style="background-color: #1DA1F2">
        <strong style="margin-bottom: 15px; font-size : 20px;">
            <a href="javascript:" class="txt_white txt_18">Feed</a>
        </strong>
        <a href="https://twitter.com/intent/tweet?button_hashtag=krishian_1_0_0&ref_src=twsrc%5Etfw"
                class="twitter-hashtag-button" id="twitter-share-btn" data-size="large"
                data-text="{{ data_text }}" data-lang="en" data-show-count="false">
        </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </header>
    <div class="twit_form">
        <button type="button" onclick="location.href = '/twitter/post/'">All</button>
        <button type="button" onclick="location.href = '/twitter/post?category=crop'">Crop</button>
        <button type="button" onclick="location.href = '/twitter/post?category=cabbage'">Cabbage</button>
    </div>
    <div style="margin-left : 30px">
    {% for tweet in tweet_info %}
        <blockquote class="twitter-tweet">
            <a href="https://twitter.com/uQG1Y1vYu2RGFzU/status/{{ tweet.post_id }}"></a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <button type="button" onclick="location.href = '/twitter/get/{{ tweet.id }}/'" class="twit_btn bm30">
            Get parameter Tweet Number : {{ tweet.id }}
        </button>
    {% endfor %}
    </div>
</body>
{% endblock %}