{% extends 'base_back.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="menu_wrap bp40 footer_on">
        <h2 class="menu_tit">My Account</h2>
        <ul class="account_tab clear">
            <li>
                <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="on">
                <a href="{% url 'billingInfo' %}">Billing info</a>
            </li>
            <li>
                <a href="#">Order history</a>
            </li>
        </ul>
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="form_ul">
                <li>
                    <p class="input_tit">First name</p>               
                    <p>{{ user.first_name }}</p>
                </li>
                <li>
                    <p class="input_tit">Last name</p>
                    <p>{{ user.last_name }}</p>
                </li>
                <li>
                    <p class="input_tit">Mobile number</p>
                    <p>{{ user.mobile_number }}</p>
                </li>
                <li>
                    <p class="input_tit">Email address</p>
                    <p>{{ user.email }}</p>
                </li>
                <li>
                    <p class="input_tit">Billing Address</p>
                    <div class="input_box">
                        {{form.billing_address}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Shipping Address</p>
                    <div class="input_box">
                        {{form.shipping_address}}
                    </div>
                </li>
            </ul>
            <a href="#" class="btn_sns tm30">
                <img src="{% static 'images/ic_card.png' %}" alt="card icon" class="rm10">
                <span>Add payment method</span>
            </a>
            <button class="btn tm10">Save</button>
        </form>
    </div>
</body>
</html>
{% endblock %}