{% extends 'base_back.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <div class="menu_wrap bp40 footer_on">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- </div>
            <ul class="form_ul">
                <li>
                    <p class="input_tit">First name</p>
                    <div class="input_box">
                        {{form.first_name}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Last name</p>
                    <div class="input_box">
                        <input type="text" placeholder="">
                        {{form.last_name}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Mobile number</p>
                    <div class="input_box">
                        {{form.mobile_number}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Email address</p>
                    <div class="input_box">
                        {{form.email}}
                    </div>
                </li> -->
                <!-- <li>
                    <p class="input_tit">Password</p>
                    <div class="input_box">
                        {{form.password}}
                    </div>
                </li> -->
            </ul>
            <button class="btn tm30">Save</button>
        </form>
    </div>
</body>
</html>
{% endblock %}


