{% extends 'base_back.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <div class="sign_wrap sign_up tp40n">
        <form action="" method="POST">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            </div>
            <ul class="form_ul">
                <li>
                    <p class="input_tit">Old password</p>
                    <div class="input_box">
                        {{form.old_password}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">New password</p>
                    <div class="input_box">
                        {{form.new_password1}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">New password Confirm</p>
                    <div class="input_box">
                        {{form.new_password2}}
                    </div>
                </li>
                <br>{{form.errors}}
            </ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
            <button class="btn tm30">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock %}


