{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <!-- header -->
    {% include 'base_back.html' %}
    <!-- //header -->
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Create new password</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
	        <input type="Submit" name="Update Password">
            <!-- <ul class="form_ul tm80">
                <li>
                    <p class="input_tit">New password</p>
                    <div class="input_box">
                        <input type="password" placeholder="">
                    </div>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">should be at least 8 characters</p>
                </li>
                <li>
                    <p class="input_tit">Confirm password</p>
                    <div class="input_box">
                        <input type="password" placeholder="">
                    </div>
                </li>
                <a href="#" class="btn tm118 re_tm20">Reset Password</a>
            </ul> -->
        </form>
    </div>
</body>
</html>