{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <!-- header -->
    {% include 'base_back.html' %}
    <!-- //header -->
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Check your email</h2>
        <p class="sub_title">We have sent you an password recover instruction 
            to your email.</p>
        <div class="tx_c">
            <!-- <a href="#" class="btn tm205">Open email App</a> -->
            <!-- <a href="/" class="skip_btn">Skip, I'll confirm later</a> -->
        </div>
    </div>
</body>
</html>