{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Reset Password</h2>
        <p class="sub_title pre">Enter your email address associate With your 
            account, we will send you an email with instruction 
            to reset Your password.</p>
        <form action="" method="post" id="email_address">
    	{% csrf_token %}
            <ul class="form_ul tm80">
                <li>
                    <p class="input_tit">Email address</p>
                    <div class="input_box">
                        {{form.email}}
                    </div>
                </li>
            </ul>
            <button class="btn tm205 re_tm20">Send email</button>
            <!-- <input type="Submit" class="btn tm205 re_tm20" value="Send email"> -->
            <!-- <a href="#" class="btn tm205 re_tm20" onclick="submit()">Send Instruction</a> -->
        </form>
    </div>
</body>
</html>