{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <!-- header -->
    {% include 'base_back.html' %}
    <!-- //header -->
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Create new password</h2>
        <form action="" method="post">
            {% csrf_token %}
            <!-- {{form}} -->
	        
            <ul class="form_ul tm80">
                <li>
                    <p class="input_tit">New password</p>
                    <div class="input_box">
                        {{form.new_password1}}
                        
                    </div>
                </li>
                <li>
                    <p class="input_tit">Confirm password</p>
                    <div class="input_box">
                        {{form.new_password2}}
                        
                    </div>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">Your password can’t be too similar to your other personal information.</p>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">should be at least 8 characters</p>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">Your password can’t be a commonly used password.</p>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">Your password can’t be entirely numeric.</p>
                </li>
                <input type="Submit" class="btn tm118 re_tm20" value="Reset Password">
                <!-- <a href="#" class="btn tm118 re_tm20" onclick="submit()">Reset Password</a> -->
            </ul>
        </form>
    </div>
</body>
</html>