{% extends 'base_back.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>
    <div class="menu_wrap bp40 footer_on">
        <h2 class="menu_tit">My Account</h2>
        <ul class="account_tab clear">
            <li class="on">
                <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'billingInfo' %}">Billing info</a>
            </li>
            <li>
                <a href="#">Order history</a>
            </li>
        </ul>
        <!-- <form action="" method="POST"> -->
        <form action="">
            <div class="profile_box">
                <button type="button" class="camera_btn"><img src="{% static 'images/ic_camera.png' %}" alt="camera icon"></button>
                <input type="file" id="file_up" class="dn appearance" accept="">
                <div class="avatar_upload">
                    <div class="avatar_preview">
                        <div class="image_box"></div>
                    </div>
                </div>
                <label for="file_up" class="file_btn"></label>
            </div>
            <ul class="form_ul">
                <li>
                    <p class="input_tit">First name</p>
                    <p>{{ user.first_name }}</p>
                </li>
                <li>
                    <p class="input_tit">Last name</p>
                    <p>{{ user.last_name }}</p>
                </li>
                <li>
                    <p class="input_tit">Mobile number</p>
                    <p>{{ user.mobile_number }}</p>
                </li>
                <li>
                    <p class="input_tit">Email address</p>
                    <p>{{ user.email }}</p>
                </li>
                <!-- <li>
                    <p class="input_tit">Password</p>
                    <div class="input_box">
                        <input type="password" placeholder="">
                    </div>
                </li> -->
            </ul>
            <br>
            <a href="/profile/edit" class="btn tm30">Edit</a>
            <!-- <button class="btn tm30">Save</button> -->
        </form>
    </div>
</body>
</html>
{% endblock %}