<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'base_back.html' %}
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Welcome back !</h2>
        <p class="sub_title">Please sign in to continue</p>
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="form_ul tm80">
                <li>
                    <p class="input_tit">Email</p>
                    <div class="input_box">
                        <input type="text" name="email" placeholder="Email..." class="form-control">
                    </div>
                </li>
                <li>
                    <p class="input_tit">Password</p>
                    <div class="input_box">
                        <input type="password" name="password" placeholder="Password..." class="form-control" >
                    </div>
                </li>
            </ul>
            <div class="tx_r tm18">
                <a href="/reset_password" class="txt_14 txt_green Roboto txt_medium">forget password?</a>
            </div>
            {% for message in messages %}
			<p id="messages">{{message}}</p>
		    {% endfor %}	
            <div class="d-flex justify-content-center mt-3 login_container">
                <button class="btn tm118 re_tm10">Sign in</button> 
            </div>
            
        </form>


    </div>
</body>
</html>
