{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="sign_wrap tx_c">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="main_logo">
        <div class="bottom_box">
            <a href='/login' class="btn">Sign in</a>
            <p class="line_txt Roboto">Or Connect Through</p>
            
            <a href="{% provider_login_url 'twitter' %}" class="btn_sns bm20">
                <img src="{% static 'images/ic_twitter.png' %}" alt="facebook icon" class="rm10">
                <span>Connect with Twitter</span>
            </a>
            <a href="{% provider_login_url 'google' %}" class="btn_sns">
                <img src="{% static 'images/ic_google.png' %}" alt="google icon" class="rm10">
                <span>Connect with Google</span>
            </a>
        </div>
        <div class="sign_txt">
            <p class="Roboto txt_gray_aa txt_18">Don't have an account?</p>
            <a href="/signup" class="Roboto txt_medium txt_black33 txt_18">Sign up</a>
        </div>
    </div>
</body>
</html>

