
<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/d4d6e1a6527a21185217393c427a52cb?family=Segoe+UI+Semibold" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="sign_wrap tx_c">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="main_logo">
        <div class="bottom_box">
            <a href='/login' class="btn">Sign in</a>
            <p class="line_txt Roboto">Or Connect Through</p>
            <a href="{% provider_login_url 'twitter' process='connect' %}" class="btn_sns bm20">
                <img src="{% static 'images/ic_face.png' %}" alt="facebook icon" class="rm10">
                <span>Connect with Twitter</span>
            </a>
            <a href="{% provider_login_url 'google' %}" class="btn_sns">
                <img src="{% static 'images/ic_google.png' %}" alt="google icon" class="rm10">
                <span>Connect with Google</span>
            </a>
        </div>
        <div class="sign_txt">
            <p class="Roboto txt_gray_aa txt_18">Don't have an account?</p>
            <a href="/signup" class="Roboto txt_medium txt_black33 txt_18">Sign up</a>
        </div>
    </div>
</body>
</html>

