{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <!-- header -->
    <header class="header">
        <a href="javascript:;" class="back_btn Roboto txt_medium">BACK</a>
    </header>
    <!-- //header -->
    <div class="sign_wrap">
        <h2 class="title tm95 re_tm20">Create new password</h2>
        <form action="">
            <ul class="form_ul tm80">
                <li>
                    <p class="input_tit">New password</p>
                    <div class="input_box">
                        <input type="password" placeholder="">
                    </div>
                    <p class="txt_14 txt_green Roboto txt_medium tm16">should be at least 8 characters</p>
                </li>
                <li>
                    <p class="input_tit">Confirm password</p>
                    <div class="input_box">
                        <input type="password" placeholder="">
                    </div>
                </li>
            </ul>
        </form>
        <a href="#" class="btn tm118 re_tm20">Reset Password</a>
    </div>
</body>
</html>