{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="sign_wrap sign_up tp40">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="form_ul">
                <li>
                    <p class="input_tit">First name</p>
                    <div class="input_box">
                        {{form.first_name}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Last name</p>
                    <div class="input_box">
                        {{form.last_name}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Mobile number</p>
                    <div class="input_box">
                        {{form.mobile_number}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Email address</p>
                    <div class="input_box">
                        {{form.email}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Password</p>
                    <div class="input_box">
                        {{form.password1}}
                    </div>
                </li>
                <li>
                    <p class="input_tit">Password Confirm</p>
                    <div class="input_box">
                        {{form.password2}}
                    </div>
                    <div class="custom_check tm20 clear">
                        <label for="agree_check" class="check_box fl">
                            <input type="checkbox" id="agree_check" class="dn appearance">
                            <span class="check fl"></span>
                        </label>
                        <label for="agree_check" class="fl">Agree with terms and condition</label>
                    </div>
                    
                        <br>{{form.errors}}<br>
                   
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button class="btn login_btn">Register Account</button>
                      </div>
                </li>
            </ul>
        </form>
        
        <div class="bottom_box tx_c">
            <p class="line_txt Roboto">Or Connect Through</p>
            <a href="#" class="btn_sns bm10">
                <img src="{%static 'images/ic_twitter.png' %}" alt="facebook icon" class="rm10">
                <span>Connect with Facebook</span>
            </a>
            <a href="{% provider_login_url 'google' %}" class="btn_sns">
                <img src="{%static 'images/ic_google.png' %}" alt="google icon" class="rm10">
                <span>Connect with Google</span>
            </a>
        </div> 
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='First Name...';
		form_fields[2].placeholder='Last Name...';
		form_fields[3].placeholder='Mobile Number...';
        form_fields[4].placeholder='Email...';  
		form_fields[5].placeholder='Enter password...';
        form_fields[6].placeholder='Re-enter Password...';

		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
    </script>
</body>
</html>
